# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[**.py]
default_section = THIRDPARTY
indent_size = 4
indent_style = space
known_django = django
known_first_party = django-logging-endpoint
max_line_length = 119
multi_line_output = 3
not_skip = __init__.py
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
use_parentheses = True
